.global {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  .modal {
    width: 520px;
    header {
      position: relative;
      padding: 16px 24px;

      border-bottom: 1px solid #f0f0f0;
      border-radius: 4px 4px 0 0;
    }
    main {
      padding: 24px;
      font-size: 14px;
      line-height: 1.5715;
      word-wrap: break-word;
    }
    footer {
      padding: 10px 16px;
      text-align: right;

      border-top: 1px solid #f0f0f0;
      border-radius: 0 0 2px 2px;
    }
  }
}
